<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
      <p style="margin: 0.4rem auto">Hello {{ name }}</p>
      <input type="text" v-model="name" />
      <hr />
      <button @click="count++">Count: <span>{{ count }}</span></button>
      <hr />
      Number a: <input type="text" v-model="a" /> Number b:
      <input type="text" v-model="b" /> Result:
      <span>{{ sum() }}</span>
      <hr />
      <input v-model="nombre" type="text" />
      <input v-model="lastname" type="text" />
      <button @click="addPerson">Add</button>
      <li v-for="person in people">
        {{ person.name }} - {{ person.lastname }}
      </li>
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            count: 0,
            name: "Kenneth",
            a: 5,
            b: 10,
            people: [
              { name: "Kenneth", lastname: "Quintero" },
              { name: "Victor", lastname: "Martin" },
              { name: "Jorge", lastname: "Barajas" },
            ],
            nombre: "",
            apellido: "",
          };
        },
        methods: {
          sum() {
            return parseInt(this.a) + parseInt(this.b);
          },
          addPerson(e) {
            this.people.push({ name: this.nombre, lastname: this.lastname });
            this.nombre = "";
            this.lastname = "";
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
