<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
      <p style="margin: 0.4rem auto">Hello {{ name }}</p>
      <input type="text" v-model="name" />
      <hr />
      <button @click="count++">Count: <span>{{ count }}</span></button>
      <hr />
      Number a: <input type="text" v-model="a" /> Number b:
      <input type="text" v-model="b" /> Result:
      <span>{{ sum() }}</span>
    </div>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            count: 0,
            name: "Kenneth",
            a: 5,
            b: 10,
          };
        },
        methods: {
          sum() {
            return parseInt(this.a) + parseInt(this.b);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
